*.yml        @kibertoad @lokalise/dx-guild @CarlosGamero @drdaemos
*.md         @kibertoad @lokalise/dx-guild @CarlosGamero @drdaemos
*.ts         @kibertoad @lokalise/dx-guild @CarlosGamero @drdaemos
package.json @kibertoad @lokalise/dx-guild @CarlosGamero @drdaemos
