*.ts         @kibertoad @rupert-mckay @lokankr @drdaemos @dariacm @CarlosGamero @jmontoyaa @freiondrej-lokalise
package.json @kibertoad @rupert-mckay @lokankr @drdaemos @dariacm @CarlosGamero @jmontoyaa @freiondrej-lokalise
